@font-face {
  font-family: "PlutoSansThin";
  src:
    local('PlutoSansThin'),
    url("./fonts/PlutoSansCondThin.otf") format('opentype');
}

@font-face {
  font-family: "PlutoSansHeavy";
  src:
    local('PlutoSansHeavy'),
    url("./fonts/PlutoSansHeavy.otf") format('opentype');
}

@font-face {
  font-family: "PlutoSansRegular";
  src:
    local('PlutoSansRegular'),
    url("./fonts/PlutoSansRegular.otf") format('opentype');
}

@font-face {
  font-family: "PlutoSansLight";
  src:
    local('PlutoSansLight'),
    url("./fonts/PlutoSansLight.otf") format('opentype');
}

@font-face {
  font-family: "PlutoSansCondBold";
  src:
    local('PlutoSansCondBold'),
    url("./fonts/PlutoSansCondBold.otf") format('opentype');
}

@font-face {
  font-family: "PlutoSansCondLight";
  src:
    local('PlutoSansCondLight'),
    url("./fonts/PlutoSansCondLight.otf") format('opentype');
}

@font-face {
  font-family: "PlutoSansCondHeavy";
  src:
    local('PlutoSansCondHeavy'),
    url("./fonts/PlutoSansCondHeavy.otf") format('opentype');
}

body {
  font-family: "PlutoSansLight", sans-serif;
  padding: 0;
  margin: 0;
  background: #231f20;
}

.loginForm {
  background: #f5f6f8;
  width: 20%;
  position: fixed;
  top: 15%;
  left: 37%;
  padding: 40px;
  border-radius: 5px;
}

.loginLogo {
  text-align: center;
  font-family: "PlutoSansHeavy", sans-serif;
  box-sizing: border-box;
  padding: 2px;
  height: 67px;
}

.loginLogo span {
  left: 4px;
  position: relative;
  top: 15px;
  vertical-align: top;
  font-size: 23.5px;
  letter-spacing: -0.6px;
  font-weight: bold;
}

.loginBox {
  position: relative;
  vertical-align: middle;
  border-radius: 15px;
  border: 1px solid #6ec1e4;
  padding: 2.5px 10px;
  background: white;
  box-sizing: border-box;
  display: flex;
}

.loginBox form {
  font-size: 15px;
}

.loginBox i {
  padding-top: 4px;
}

.loginButton{
  background: black;
  border: 1px solid #6ec1e4;
  color: white;
  padding: 4px 10px;
  margin-top: 11px;
  border-radius: 12px;
  align-self: center;
}

.loginField {
  position: relative;
  vertical-align: middle;
  border: 0;
  padding: 5px 0px;
  padding-left: 1.1px;
  letter-spacing: 0.2px;
  font-size: 11px;
  color: black;
  font-family: "PlutoSansLight", sans-serif;
  flex: 1;
}

.logo img {
  height: 39px;
  padding-top: 0;
  padding-right: 10px;
}

.container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 67px 1fr;
}

.header {
  height: 67px;
  background: #fcf8f3;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 13.6%;
  font-family: "PlutoSansRegular", sans-serif;
  position: sticky;
  z-index: 2;
}

.logo {
  background: white;
  text-align: center;
  font-family: "PlutoSansHeavy", sans-serif;
  border-right: 1px solid #d6dee5;
  box-sizing: border-box;
  padding: 13px;
  height: 67px;
  border-bottom: 1px solid #6ec1e4;
}

.logo img {
  height: 39px;
  padding-top: 0;
  padding-right: 10px;
}

.logo span {
  left: -2px;
  position: relative;
  top: 7px;
  vertical-align: top;
  font-size: 23.5px;
  letter-spacing: -0.6px;
  font-weight: bold;
}

.title {
  height: 67px;
  font-size: 1.3em;
  height: inherit;
  padding-top: 20px;
  padding-left: 16.7px;
  letter-spacing: -0.5px;
  box-sizing: border-box;
  border-bottom: 1px solid #6ec1e4;
}

.titleText {
  vertical-align: middle;
  font-weight: bold;
}

.search {
  height: 67px;
  box-sizing: border-box;
  border-bottom: 1px solid #6ec1e4;
}

.searchBox {
  position: relative;
  vertical-align: middle;
  border-radius: 15px;
  border: 1px solid #6ec1e4;
  padding: 2.5px 10px;
  margin: 19px;
  background: white;
  box-sizing: border-box;
  width: 52%;
  margin-left: auto;
  margin-right: 17px;
  display: flex;
}

.searchField {
  position: relative;
  vertical-align: middle;
  border: 0;
  padding: 5px 0px;
  padding-left: 1.1px;
  letter-spacing: 0.2px;
  font-size: 11px;
  color: black;
  font-family: "PlutoSansLight", sans-serif;
  flex: 1;
}

.title i {
  font-size: 15px;
  position: relative;
  top: 1px;
}

.user {
  padding: 11px 0;
  display: table;
  text-align: right;
  height: 43px;
  box-sizing: border-box;
  margin-top: 1px;
  border-bottom: 1px solid #6ec1e4;
}

.user .userAvatar {
  font-size: 10px;
  padding: 16.9px 19px 15px 41.5px;
  display: table-cell;
  vertical-align: middle;
  border-left: 1px solid #979797;
  position: relative;
  cursor: pointer;
}

.user .userAvatar:hover {
  color: #979797;
}

.user i {
  position: relative;
  top: 0px;
  right: -7px;
  font-size: 10px;
}

.user img {
  height: 30px;
  position: relative;
  top: 7px;
  right: 1px;
}

.logoutButton {
  position: absolute;
  display: block;
  right: 0px;
  top: 52px;
  background: #fcf8f3;
  padding: 10px;
  color: black;
  width: 8.2%;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border: 0 1px 1px 1px solid #979797;
}

.logoutButton:hover {
  background: #f7ecdf;
}

.logoutButton:active {
  background: #f2e0ca;
}

.mainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 1fr 13.6%;
  background: #231f20;
}

.sidebar {
  font-family: "PlutoSansCondBold", sans-serif;
  background: #231f20;
  border-right: 1px solid #767e87;
  padding: 10px 8%;
  color: white;
}

.menuBookshelf {
  position: fixed;
}

.sidebar h3 {
  font-size: 11px;
  padding-left: 15px;
  padding-top: 9px;
}

.sidebar ul {
  list-style-type: none;
  margin-left: 3em;
  padding-left: 0;
  margin-top: -4px;
  font-size: 12px;
}

.sidebar li {
  font-family: "PlutoSansCondLight", sans-serif;
  color: #7fccea;
  padding: 9.5px 8px;
  cursor: pointer;
  user-select: none;
}

.sidebar .active {
  color: white;
}

.mainContent {
  background: #f5f6f8;
  display: grid;
  grid-template-rows: 10% 1fr;
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  position: fixed;
  left: 15%;
  z-index: 2;
  background: #f5f6f8;
  width: 71.4%;
}

.currentLibrary {
  padding: 10px 65px;
  height: 56px;
  font-size: 13px;
  box-sizing: border-box;
}

.sorter {
  visibility: hidden;
  text-align: center;
  color: #a8a8a8;
  height: 56px;
  font-size: 10.5px;
  letter-spacing: 0.2px;
  box-sizing: border-box;
  padding: 27px 3px 0px 0;
}

#releaseDate {
  position: relative;
  right: 3px;
}

#popularity {
  position: relative;
  left: 6px;
}

.sorter .active {
  font-weight: bold;
}

.displayOption {
  text-align: right;
  color: #979797;
  height: 56px;
  padding: 25px 66px;
  font-size: 15px;
  box-sizing: border-box;
}

.displayOption .active {
  color: #7fccea
}

.content {
  min-height: 521px;
  align-items:center;
  position: relative;
  padding: 57.4px 25px 0;
}

.loading {
  vertical-align: middle;
  align-self: center;
  position: relative;
  top: 35%;
  left: 45%;
}

.bookList {
  list-style-type: none;
  margin: 0;
  padding: 0px 10.5px 0;
  justify-content: space-around;
  min-height: 0px;
}

.bookAuthor {
  display: block;
}

.sidebarRight {
  background: #231f20;
  border-left: 1px solid #767e87;
}

.itemView {
  display: flex;
  flex-wrap: wrap;
}

.itemView li {
  max-width: 150px;
  min-height: 200px;
  margin: 0 10px;
}

.detailer img {
  width: 145px;
  height: 208px;
}

.itemView br{
  display: none;
}

.itemView .bookRating {
  font-size: 11px;
  display: block;
}

.itemView .bookTitle {
  font-family: "PlutoSansCondBold", sans-serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  display: block;
  font-size: 11px;
  padding-top: 7px;
}

.itemView .bookAuthor {
  font-size: 11px;
  display: block;
}

.itemView .bookAuthorLine,
.itemView .bookPagesLine,
.itemView .bookSummary,
.itemView .bookSummaryTitle,
.itemView .bookRatingTitle,
.itemView .bookYear,
.itemView .bookLocation {
  display: none;
}

.itemView .lent {
  position: absolute;
  background: #7fccea;
  color: white;
  padding: 5px;
}

.itemview .detailer {
  display: inline-block;
  padding: 10px;
  position: relative;
  max-width: 150px;
  min-height: 200px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 6px;
}

.listView {
  display: block;
  flex-wrap: wrap;
  display: block;
  width: 97%;
  max-width: none;
  font-size: 12px;
}

.listView .detailer {
  display: inline-block;
  padding: 10px;
  position: relative;
  min-height: 200px;
  margin-bottom: 6px;
}

.listView .bookTitle {
  font-family: "PlutoSansCondBold", sans-serif;
  font-weight: bold;
  color: #7fccea;
  text-transform: uppercase;
  font-size:
}

.listView .bookAuthor {
  display: inline;
}

.listView .bookRating {
  top: 40px;
  right: 0;
  position: absolute;
  font-size: 18px;
}

.listView .bookImage {
  float: left;
}

.listView .bookRating {
  float: left;
}

.listView .bookAuthorLine,
.listView .bookPagesLine,
.listView .bookSummary,
.listView .bookSummaryTitle,
.listView .bookRatingTitle,
.listView h5 {
  display: inline;
}

.listView .bookLocation {
  display: block;
}

.listView .lent {
  background: #7fccea;
  color: white;
  padding: 5px;
  float: right;
}

.bookInfo {
  color: white;
  width: 19.8%;
  background: rgba(0,0,0,0.8);
  font-size: 9.8px;
  font-family: "PlutoSansCondLight", sans-serif;
  border-radius: 6px;
  padding: 26px;
  position: fixed;
  top: 134px;
  left: 610px;
  z-index: 1;
}

.bookInfo .bookAuthorLine,
.bookInfo .bookPagesLine {
  display: inline;
}

.bookInfo .bookTitle {
  font-family: "PlutoSansCondBold", sans-serif;
  font-weight: bold;
  color: #6ec1e4;
  text-transform: uppercase;
  font-size: 16px;
}

.bookInfo .bookAuthor {
  color: #979797;
  display: inline;
}

.bookInfo .bookImage, .bookInfo .lent {
  display: none;
}

.bookInfo h5{
  color: #979797;
  font-size: 10px;
  font-family: "PlutoSansCondBold", sans-serif;
  margin-bottom: 3px;
  margin-top: 5px;
  padding-left: 1px;
  display: inline;
}

.bookInfo .bookSummary {
  margin-top: 5px;
  font-size: 9.8px;
  max-height: 120px;
  overflow: auto;
  display: inherit;
}

.bookInfo .closeButton {
  position: absolute;
  right: 7px;
  top: 7px;
  border: 1px solid #7fccea;
  border-radius: 50%;
  padding: 2px 5px;
  font-family: inherit;
  color: #7fccea;
  background: rgba(0,0,0,0.8);
  cursor: pointer;
}

.bookInfo .closeButton:hover {
  background: #191919;
}

.bookInfo .closeButton:active {
  background: #323232;
}

.lendButton, .cancelButton {
  position: absolute;
  border: 1px solid #7fccea;
  border-radius: 5px;
  padding: 2px 5px;
  font-family: inherit;
  color: #7fccea;
  background: rgba(0,0,0,0.8);
  cursor: pointer;
}

.bookInfo .lendButton {
  right: 7px;
  bottom: 7px;
  cursor: pointer;
}

.bookInfo .lendButton:hover {
  background: #191919;
}

.bookInfo .lendButton:active {
  background: #323232;
}

.lendBook {
  color: white;
  width: 19.8%;
  background: rgba(0,0,0,0.8);
  font-size: 9.8px;
  font-family: "PlutoSansCondLight", sans-serif;
  border-radius: 6px;
  padding: 26px;
  position: fixed;
  top: 134px;
  left: 290px;
  z-index: 1;
}

.lendBook .lendButton {
  right: 53px;
  bottom: 7px;
}

.lendBook .lendButton:hover {
  background: #191919;
}

.lendBook .lendButton:active {
  background: #323232;
}

.lendBook .cancelButton {
  right: 7px;
  bottom: 7px;
}

.lendBook .cancelButton:hover {
  background: #191919;
}

.lendBook .cancelButton:active {
  background: #323232;
}

.bookRating {
  font-family: "PlutoSansCondBold", sans-serif;
  font-weight: bold;
  color: #6ec1e4;
  text-transform: uppercase;
  font-size: 10px;
}

#itemView, #listView {
  cursor: pointer;
  user-select: none;
  margin: 0px 0.7px;
}
